/* Body */
body {
    background: white;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1;
}

/* Header */
header {
    background-color:red;
    color:white;
    background-size: cover;
    padding: 15px 390px 15px;
    border-bottom: solid black 3px;
}

/* Sidebar Menu */
html, body {
    overflow-x: hidden;
    height: 100%;
}

#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 250px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background: red;
}

.sidebarMenuInner li{
    list-style: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}
.sidebarMenuInner li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: white;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}

/* Main Section */
main {
padding: 0px 300px;
}

.wrap-sec1,
.wrap-sec2,
.wrap-sec3,
.wrap-sec4,
.wrap-sec5,
.wrap-sec6 {
    margin-bottom: 1.2rem 0;
  }
  
  input[type='checkbox'] {
    display: none;
  }
  
  .lbl-toggle {
    display: block;
  
    font-weight: bold;
    font-family: monospace;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
  
    padding: 20px;
  
    color: white;
    background: orange;
  
    cursor: pointer;
  
    border-radius: 7px;
    transition: all 0.25s ease-out;
  }
  
  .lbl-toggle:hover {
    color: red;
  }
  
  .lbl-toggle::before {
    content: ' ';
    display: inline-block;
  
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);
  
    transition: transform .2s ease-out;
  }
  
  .toggle:checked + .lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
  }
  
  .sec1-content,
  .sec2-content,
  .sec3-content,
  .sec4-content,
  .sec5-content,
  .sec6-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
  }
  
  .toggle:checked + .lbl-toggle + .sec1-content,
  .toggle:checked + .lbl-toggle + .sec2-content,
  .toggle:checked + .lbl-toggle + .sec3-content,
  .toggle:checked + .lbl-toggle + .sec4-content,
  .toggle:checked + .lbl-toggle + .sec5-content, 
  .toggle:checked + .lbl-toggle + .sec6-content {
    max-height: 100vh;
  }
  
  .toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .sec1-content .content-inner,
  .sec2-content .content-inner,
  .sec3-content .content-inner, 
  .sec4-content .content-inner,
  .sec5-content .content-inner,
  .sec6-content .content-inner {
    background: lightgray;
    border-bottom: 1px solid rgba(250, 224, 66, .45);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: .5rem 1rem;
  }

  /* Checklist */
  body {
    line-height: 24px;
    font-size: 16px;
    box-sizing: border-box;
}

  .checkbox input[type="checkbox"] {
    opacity: 0;
}

.checkbox label {
    position: relative;
    display: inline-block;
    padding-left: 22px;
}

.checkbox label::before,
.checkbox label::after {
    position: absolute;
    content: " ";
    display: inline-block;
}

.checkbox label::before{
    height: 16px;
    width: 16px;
    border: 1px solid red;
    left: 0px;
    top: 3px;
}

.checkbox label::after {
    height: 5px;
    width: 9px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(-45deg);
    left: 4px;
    top: 7px;
}

.checkbox input[type="checkbox"] + label::after {
    content: none;
}

.checkbox input[type="checkbox"]:checked + label::after {
    content: " ";
}

.checkbox input[type="checkbox"]:focus + label::before {
    outline: rgb(59, 153, 252) auto 5px;
}

/* Footer */
footer {
    bottom: 0;
    width: 100%;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: red;
    color: white;
    text-align: center;
}