:root {
    --primary-color: rgb(100, 159, 204);
    --secondary-color: rgb(230, 155, 75);
    --tertiary-color: rgb(158, 158, 158);
    --fourth-color: rgb(176, 4, 4); 
}

/* Body */
body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1;
    background: var(--tertiary-color);
}

html, body {
    overflow-x: hidden;
    height: 100%;
}

main {
    width: 70%;
}

/* Header */
header {
    color: whitesmoke;
    text-shadow: 1px 1px 2px rgb(60, 60, 60);
    background-image: url(../images/header-bg.jpg);
    background-size: cover; 
    opacity: 1;
    padding: 20px 35px;
    border-bottom: solid black 3px;
    position: sticky;
    top: 0;
    display: flex;
    z-index: 1;
}

h2 {
    color: var(--tertiary-color);
}

.titles {
    flex: 1 70%;
}

.weather-api-box {
    flex: 2 30%;
    background-color: var(--tertiary-color);
    border: black solid 2px;
    border-radius: 3px;
}

/* Strictly For the Weather API */

#location {
    text-align: right;
}
.temperature {
    text-align: right;
}
#temp-description {
    text-align: right;
}
#degrees {
    text-align: right;
}

#fireMap {
    height: 500px;
    width: 100%;
}

/* Sidebar Menu */
html, body {
    overflow-x: hidden;
    height: 100%;
}

#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0%;
    width: 180px;
    transform: translateX(-180px);
    transition: transform 180ms ease-in-out;
    background: black;
    opacity: 1;
    border-radius: 7px;
    font-size: 13px;
    z-index: 1;
}

.sidebarMenuInner li{
    display: flex;
    list-style: none;
    color: white;
    font-weight: bold;
    flex-direction: column;
    justify-items: left;
    list-style: none;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    padding: 20px;
}

.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}

.sidebarMenuInner li a{
    color: white;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

/*other menu*/
.pure-menu-link {
    margin-left: -30px;
    font-size: 15px;
    color: rgb(158, 157, 157);
    font-weight: bold;
    text-shadow: 1px 1px rgba(255, 255, 255, .1);
    background-color: black;
    background: radial-gradient (rgb(63, 63, 63), black);
}

.pure-menu-link:hover, .pure-menu-link:focus {
    color: black; 
    background: radial-gradient(var(--secondary-color), rgb(173, 99, 19));
    text-shadow: rgba(52, 52, 52, 0.5);
    border-radius: 3px;
}

input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 15px;
    left: 10px;
    height: 22px;
    width: 22px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: white;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}

/* MAIN CONTENT */
main {
padding: 0px 300px;
}

.wrap-sec1,
.wrap-sec2,
.wrap-sec3,
.wrap-sec4,
.wrap-sec5,
.wrap-sec6,
.wrap-sec7,
.wrap-sec8 {
    margin-bottom: 1.2rem 0;
    border-bottom: var(--tertiary-color) solid 6px;
  }

  input[type='checkbox'] {
    display: none;
  }

  .lbl-toggle {
    display: block;  
    padding: 20px;
    color: black;
    font-size: 20px;
    text-align: center;
    text-shadow: rgb(60, 60, 60) 1px 1px 1px;
    background: radial-gradient(var(--secondary-color), rgb(173, 99, 19));
    cursor: pointer;
    border-radius: 7px;
    border: solid black 1px;
    transition: all 0.25s ease-out;
  }
  
  .lbl-toggle:hover {
    font-weight: bold;
    text-shadow: none;
    background: rgb(249, 191, 129);
    border: solid black 3px;
  }
  
  .lbl-toggle::before {
    content: ' ';
    display: inline-block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);
    transition: transform .2s ease-out;
  }
  
  .toggle:checked + .lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
  }
  
  .fire-content,
  .main-essentials-content,
  .you-prepared-content,
  .house-prepared-content,
  .six-ps-content,
  .your-fsc-content,
  .useful-links-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
  }
  
  .toggle:checked + .lbl-toggle + .fire-content,
  .toggle:checked + .lbl-toggle + .main-essentials-content,
  .toggle:checked + .lbl-toggle + .you-prepared-content,
  .toggle:checked + .lbl-toggle + .house-prepared-content, 
  .toggle:checked + .lbl-toggle + .six-ps-content,
  .toggle:checked + .lbl-toggle + .your-fsc-content,
  .toggle:checked + .lbl-toggle + .useful-links-content {
    max-height: 100vh;
  }
  
  .toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .fire-content .content-inner,
  .main-essentials-content .content-inner, 
  .you-prepared-content .content-inner,
  .house-prepared-content .content-inner,
  .six-ps-content .content-inner,
  .your-fsc-content .content-inner,
  .useful-links-content .content-inner {
    background: var(--primary-color);
    border: solid black 1px;
    border-top: none;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: .5rem 1rem;
  }

/* BACK TO ORIGINAL VERTICAL MENU */
/*Add transition to containers so they can push in and out.*/
#layout, #menu, .menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

/* Parent `<div>` that contains the menu and the content area. */
#layout {
    position: relative;
    left: 0;
    padding-left: 0;
}

#layout.active #menu {
    left: 150px;
    width: 150px;
}

#layout.active .menu-link {
    left: 150px;
} 

.corner-img {
    display: flex;
    align-items: center; 
    justify-content: space-around;
    padding: 5px;
}

  /* Checklist */
  body {
    line-height: 24px;
    font-size: 16px;
    box-sizing: border-box;
}

  .checkbox input[type="checkbox"],
  .checkbox2 input[type="checkbox"],
  .checkbox3 input[type="checkbox"] {
    opacity: 0;
}

.checkbox label,
.checkbox2 label,
.checkbox3 label {
    position: relative;
    display: inline-block;
    padding-left: 22px;
}

.checkbox label::before,
.checkbox label::after,
.checkbox2 label::before,
.checkbox2 label::after,
.checkbox3 label::before,
.checkbox3 label::after {
    position: absolute;
    content: " ";
    display: inline-block;
}

.checkbox label::before,
.checkbox2 label::before,
.checkbox3 label::before {
    height: 16px;
    width: 16px;
    border: 1px solid var(--fourth-color);
    left: 0px;
    top: 3px;
}

.checkbox label::after,
.checkbox2 label::after,
.checkbox3 label::after {
    height: 5px;
    width: 9px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(-45deg);
    left: 4px;
    top: 7px;
}

.checkbox input[type="checkbox"] + label::after,
.checkbox2 input[type="checkbox"] + label::after,
.checkbox3 input[type="checkbox"] + label::after {
    content: none;
}

.checkbox input[type="checkbox"]:checked + label::after,
.checkbox2 input[type="checkbox"]:checked + label::after,
.checkbox3 input[type="checkbox"]:checked + label::after {
    content: " ";
}

.checkbox input[type="checkbox"]:focus + label::before,
.checkbox2 input[type="checkbox"]:focus + label::before,
.checkbox3 input[type="checkbox"]:focus + label::before{
    outline: rgb(59, 153, 252) auto 5px;

}

/* Footer */
footer {
    bottom: 0;
    width: 100%;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: var(--fourth-color);
    color: white;
    text-align: center;
}

/*
`.menu-link` represents the responsive menu toggle that shows/hides on
small screens.
*/
.menu-link {
    position: fixed;
    display: block; /* show this only on small screens */
    top: 0;
    left: 0; /* "#menu width" */
    background: #000;
    background: rgba(0,0,0,0.7);
    font-size: 10px; /* change this value to increase/decrease button size */
    z-index: 10;
    width: 2em;
    height: auto;
    padding: 2.1em 1.6em;
}

    .menu-link:hover,
    .menu-link:focus {
        background: #000;
    }

    .menu-link span {
        position: relative;
        display: block;
    }

    .menu-link span,
    .menu-link span:before,
    .menu-link span:after {
        background-color: #fff;
        pointer-events: none;
        width: 100%;
        height: 0.2em;
    }

        .menu-link span:before,
        .menu-link span:after {
            position: absolute;
            margin-top: -0.6em;
            content: " ";
        }

        .menu-link span:after {
            margin-top: 0.6em;
        }

/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*Hides the menu at `48em`.*/
@media (min-width: 48em) {

    .header,
    .content {
        padding-left: 2em;
        padding-right: 2em;
    }

    #layout {
        left: 0;
    }
    #menu {
        left: 150px;
    }

    .menu-link {
        position: fixed;
        left: 150px;
        display: none;
    }

    #layout.active .menu-link {
        left: 150px;
    }
}

@media (max-width: 48em) {
/* Only apply this when the window is small. Otherwise, the following case results in extra padding on the left:
        * Make the window small.
        * Tap the menu to trigger the active state.
        * Make the window large again.
    */
    #layout.active {
        position: relative;
        left: 150px;
    }

    @media only screen and (max-width: 600px) {
        #menu{width: 110px; display: block; display: none; margin: 0; justify-content: center;}
    }
}

/* OTHER THINGS */
#subtitle {
    line-height: 1;
    font-size: 14px; 
    color: black;
    font-weight: bold;
    text-shadow: none;
    text-decoration: none; 
}
        
a:visited {
    text-decoration: none;
}

  

textarea{
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
  .description{
    white-space: pre-wrap;
  }
  
  .time-block{
    text-align: center;
    border-radius: 15px;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;;
  }
  
  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
  }
  
  .past {
    background-color: #d3d3d3;
    color: white;
  }
  
  .present {
    background-color: #ff6961;
    color: white;
  }
  
  .future {
    background-color: #77dd77;
    color: white;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06AED5;
    color: white;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }